{{ define "main" }}

{{ "<!-- about -->" | safeHTML }}

    <div class="site-section pb-0 site-portfolio">
      <div class="container">
        <div class="row mb-5 align-items-end">
          <div class="col-md-6" data-aos="fade-up">

            <h2>{{ .Title }}</h2>
          </div>

        </div>

        <div class="row">
          <div class="col-md-5 ml-auto order-2" data-aos="fade-up">
            {{ with .Params.skills }}
            <h2 class="mb-4">{{ .title }}</h2>
            <ul class="list-unstyled">
              {{ range .skill_item }}
              <li class="mb-3">
                <div class="d-flex mb-1">
                  <strong>{{ .name }}</strong>
                </div>
                <div class="progress custom-progress">
                  <div class="progress-bar" role="progressbar" style="width: {{.label}}" aria-valuenow="{{ .value }}" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
              </li>
              {{ end }}
            </ul>
            {{ end }}
            <p>{{ .Description}}</p>
            <p><a href="{{ .Site.BaseURL }}{{ .Site.Params.hero.resume }}" class="readmore">Download my CV</a></p>

          </div>
          

          <div class="col-md-6 mb-5 mb-md-0" data-aos="fade-up">
            <p><img src="{{ .Site.BaseURL }}{{ .Site.Params.hero.avatar }}" alt="Image" class="img-fluid"></p>
            
          </div>

        </div>

      </div>
    </div>

{{ "<!-- /about -->" | safeHTML }}



{{ end }}
