.glasses {
  max-width: 100%;
  color: var(--heading-color);
  img {
    position: absolute;
    left: 0px;
    width: 100%;
  }
  @include breakpoint ('medium'){
  display: none;
  }
  img {
    left: 0px;
    @include breakpoint ('medium'){
    display: none;
    }
  }
}
.glasses-large {
  max-width:100%;
  img {
    left: 0px;
    @include breakpoint ('medium'){
    display: none;
    }
  }
}

.grips{
  position: relative;
  margin-top: -30%;
  margin-left:-20%;
  max-width: 55%;
  @include breakpoint ('medium'){
  display: none;
  img {
  display: none;
  height: auto;
  }

  }
}

.twothirds{
  max-width: 66%;
  display: inline;
}

.onethird{
  width: 33%;
  display: inline;
  padding-left: 24px;
}

.pcard {
max-width: 25%;
display: flex;
float:left;
flex-direction: column;
flex:1;
align-items: center;
gap: 24px;
padding: 32px;
position:relative;
text-align: center;
@include breakpoint ('medium'){
  min-width: 100%;
  padding: 0px;
  text-align: left;
}
}

.process-details{
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  padding:0px;
  gap: 24px;
  @include breakpoint ('medium'){
  h3 {
  text-align: left;
  width: 100%;
  }
  }
}



.button {
  /* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px 16px;
gap: 8px;
position: relative;
background: #FF006E;
border-radius: 4px;
font-size: 22px;
color: white;
margin-top: 24px;
border-bottom: 4px solid black;
border:none ;
box-shadow: 0 4px 0 #2708A0;
}

.button:hover {
      background-color:#D3045E;
      transition: 0.7s;
  }

.button:active {
  box-shadow: none;
  background: #A8044B;
}

.button::before{
    bottom: -4px;
    content: "";
    display: block;
    left: -2px;
    position: absolute;
    right: -2px;
}


.cover{
  display:flex;
  > img {
  margin: 24px 24px 24px 0px;
  width: 66%;
  object-fit: cover; 
  @include breakpoint ('small'){
  width: 100%;
  }
  }
  @include breakpoint ('mlarge'){
  display: inline-block;
  max-width: 80%;

  }
}

.testimonial{
  /* Auto layout */

display: block;
gap: 4px;
background: #FBF4F7;
padding: 24px;
border-radius: 8px;
text-align: left;
margin-top: 24px;

height: auto;
> img{
  border-radius: 4px;
}
> h3{
  color: #6D757E;
  font-size: 22px;
}
> p{
  font-family: "Quattrocento", "serif";
  font-size: 22px;
  margin: 0px;
  font-style: italic;

}
}


