<section data-scroll-index="5">
    <div class="case-studies">
        <div class="header">
            <h1 class="title">{{ .Site.Data.services.services.Title }}</h1>
            <h2 class="subtitle">{{ .Site.Data.services.services.Subtitle }}</h2>

        </div>
        <div class="case-studies-wrapper">
            {{ $baseUrl := .Site.BaseURL }}
            {{ with site.Data.services.services.packages }}
            {{ range .serviceItem }}

            <div class="case-study-item">
                <a href="{{ .URL }}"><img src="{{ $baseUrl }}img/{{ .thumbnail }}" alt=""></a>
                <h4>{{ .title | markdownify }}</h4>
                <h5>{{ .subtitle | markdownify }}</h5>
                <a href="{{ .URL }}" class="read-more" onclick="ga('send', {hitType: 'event',eventCategory: 'CTA',eventAction: 'Read {{ .Params.case_short_title }}', eventLabel:'Read {{ .title }}'});">Read Me</a>
            </div>
            {{ end }}
            {{ end }}
        </div>
    </div>
</section>