<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{ .Site.Title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="{{ .Site.Params.theme_color }}">
        <meta name="description" content="{{ .Site.Params.Description }}">
        <meta property="og:description" content="{{ .Site.Params.Description }}">
        <meta name="twitter:description" content="{{ .Site.Params.Description }}">
        <meta property="og:image" content="{{ .Site.BaseURL }}img/{{ .Site.Params.description_photo }}">
        <meta name="twitter:image" content="{{ .Site.BaseURL }}img/{{ .Site.Params.description_photo }}">
        <link rel="icon" href="{{ .Site.BaseURL }}img/{{ .Site.Params.Favicon }}" type="image/x-icon">
        <link rel="shortcut icon" href="{{ .Site.BaseURL }}img/{{ .Site.Params.Favicon }}" type="image/x-icon">
        <link rel="stylesheet" href="../css/final.css">
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap" >
    </head>
    <body>
        <div>
            {{ if .Site.Params.nav.enable }}
            {{ partial "nav_casestudy.html" . }}
            {{ end }}

            {{ if .Site.Params.case_studies.enable }}
            <section data-scroll-index="4">
                <div class="case-studies">
                    <div class="header">
                        <h1 class="title">{{ .Site.Params.case_studies.Title }}</h1>
                        <h2 class="subtitle">{{ .Site.Params.case_studies.Subtitle }}</h2>
                    </div>
                    <div class="case-studies-wrapper">
                        {{ $baseUrl := .Site.BaseURL }}
                        {{ range where .Site.Pages "Kind" "page"}}

                        <div class="case-study-item">
                            <a href="{{ .URL }}"><img src="{{ $baseUrl }}img/{{ .Params.thumbnail }}" alt=""></a>
                            <h4>{{ .Params.case_short_title }}</h4>
                            <h5>{{ .Params.case_subtitle }}</h5>
                            <p>{{ .Params.case_description }}</p>
                            <a href="{{ .URL }}" class="read-more">Read Me</a>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </section>
            {{ end }}

            {{ if .Site.Params.footer.enable }}
            {{ partial "footer.html" . }}
            {{ end }}
        </div>

        {{ partial "scripts.html" . }}

    </body>
</html>