 <header>
  <div class="collapse navbar-collapse custom-navmenu" id="main-navbar">
    <div class="container py-2 py-md-5">
      <div class="row align-items-start">
        <div class="col-md-2">
          <ul class="custom-menu">
            <li><a href="{{ .Site.BaseURL }}">Home</a></li>
             {{ range .Site.Menus.main }}
             <li><a href="{{ .URL }}" title="{{ .Title }}">
                {{- .Name -}}
              </a></li>
              {{ end }}
          </ul>
        </div>
        <div class="col-md-6 d-none d-md-block  mr-auto">
          <div class="tweet d-flex">
            <span class="icofont-focus text-white mt-2 mr-3"></span>
            <div>
              <h3>Design Thinking</h3>
              <p><em>{{ .Site.Params.statement}} <br> </em></p>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-none d-md-block">
          {{ range .Site.Menus.social }}
            <a href="{{ .URL }}" title="{{- .Name -}}"><span class="{{- .Pre -}}" style="margin: 8px"></span></a>
          {{ end }}
          <a href="mailto:maria.cerase@gmail.com">{{ .Site.Params.email}} </a>
        </div>
      </a>
      </div>

    </div>
  </div>

  <nav class="navbar navbar-light custom-navbar">
    <div class="container">
      <a class="navbar-brand" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>

      <a href="#" class="burger" data-toggle="collapse" data-target="#main-navbar">
        <span></span>
      </a>

    </div>
  </nav>
</header>