  <!-- Vendor JS Files -->
  <script src="{{ .Site.BaseURL }}plugins/jquery/jquery.min.js"></script>
  <script src="{{ .Site.BaseURL }}plugins/jquery/jquery-migrate.min.js"></script>
  <script src="{{ .Site.BaseURL }}plugins/bootstrap/js/bootstrap.min.js"></script>
  <script src="{{ .Site.BaseURL }}plugins/easing/easing.min.js"></script>
  <script src="{{ .Site.BaseURL }}plugins/php-email-form/validate.js"></script>
  <script src="{{ .Site.BaseURL }}plugins/isotope/isotope.pkgd.min.js"></script>
  <script src="{{ .Site.BaseURL }}plugins/aos/aos.js"></script>
  <script src="{{ .Site.BaseURL }}plugins/owlcarousel/owl.carousel.min.js"></script>


  <!-- Template Main JS File -->
  <script src="{{ .Site.BaseURL }}js/main.js"></script>
