<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>
        <div>
            {{ if .Site.Params.nav.enable }}
            {{ partial "nav.html" . }}
            {{ end }}

            <section style="padding-top: 120px;">
                <h1>Mamma mia! this is a 404</h1>

            <p>Seems like you ended up on page that does not exist. Click the 'M' to go back to the homepage.</p>

            </section>


        </div>

        {{ partial "scripts.html" . }}

    </body>
</html>